# Integration

## Importing the created module

In [1]:
# import all libraries that are needed
from absenteeism_module_2 import *

## Reading the new file to check its structure

In [2]:
#df = pd.read_csv(r"C:\Users\User\Documents\SQL Python and Tableau Project\Data Source\For Integration\Absenteeism_new_data.csv",
#                 delimiter = ",")
df = pd.read_csv(r"C:\Users\User\Documents\SQL Python and Tableau Project\Data Source\For Preprocessing\Absenteeism_data.csv",
                 delimiter = ",")
display(df.head(15))

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,3,23,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,10,22,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,20,23,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,14,19,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,1,22,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,20,1,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,20,1,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,20,11,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,3,11,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,4

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
ID                           700 non-null int64
Reason for Absence           700 non-null int64
Date                         700 non-null object
Transportation Expense       700 non-null int64
Distance to Work             700 non-null int64
Age                          700 non-null int64
Daily Work Load Average      700 non-null float64
Body Mass Index              700 non-null int64
Education                    700 non-null int64
Children                     700 non-null int64
Pets                         700 non-null int64
Absenteeism Time in Hours    700 non-null int64
dtypes: float64(1), int64(10), object(1)
memory usage: 65.8+ KB

it seems that the data values look like the original data file on which the model is built.

## Calling the module

In [3]:
model = absenteeism_module(r"C:\Users\User\Documents\SQL Python and Tableau Project\model",
                         r"C:\Users\User\Documents\SQL Python and Tableau Project\scaler")

## Reading the file and cleaning the data using the method of the module

In [4]:
model.load_and_clean_data(r"C:\Users\User\Documents\SQL Python and Tableau Project\Data Source\For Integration\Absenteeism_new_data.csv")

## Predicting the Outputs

In [5]:
df_tbl_predictions = model.predicted_outputs()

## Converting the data frame to an INSERT statement

In [6]:
cntr = df_tbl_predictions.shape[0]
strColl = ""
for i in range(cntr):
    strReasDis = df_tbl_predictions.loc[i]["Reasons_Disease"]
    strReasPrg = df_tbl_predictions.loc[i]["Reasons_Pregnancy"]
    strReasExt = df_tbl_predictions.loc[i]["Reasons_Extrenous"]
    strReasSft = df_tbl_predictions.loc[i]["Reasons_Soft"]
    strWeekDay = df_tbl_predictions.loc[i]["Weekday"]
    strTrnsExp = df_tbl_predictions.loc[i]["Transportation Expense"]
    strAge = df_tbl_predictions.loc[i]["Age"]
    strChild = df_tbl_predictions.loc[i]["Children"]
    strPets = df_tbl_predictions.loc[i]["Pets"]
    strProb = df_tbl_predictions.loc[i]["Probability"]
    strPrd = df_tbl_predictions.loc[i]["Prrdiction"]
    strnew = "(" + str(strReasDis) + ", " + str(strReasPrg) + ", "
    strnew = strnew + str(strReasExt) + ", " + str(strReasSft) + ", " 
    strnew = strnew + str(strWeekDay) + ", " + str(strTrnsExp) + ", "
    strnew = strnew + str(strAge) + ", " + str(strChild) + ", "
    strnew = strnew + str(strPets) + ", " + str(strProb) + ", "
    strnew = strnew + str(strPrd) + "), "
    strColl = strColl + strnew

strInsert = "INSERT INTO tbl_predicted_outputs VALUES " + strColl
strInsert = strInsert[:-2] + ";"

## Connecting to MySql

In [7]:
import pymysql
import os

In [8]:
objconn = pymysql.connect(database = "db_predicted_output", user = os.getenv("ProjUser"), password = os.getenv("ProjPwd"))

## Creating the cursor

In [9]:
objcursor = objconn.cursor()

## Executing the INSERT statement

In [10]:
objcursor.execute(strInsert)

40

## Committing the insert statement

In [11]:
objconn.commit()