# Creating a Machine Learning Model - Logistic Regression

## Importing the libraries

In [1]:
import pandas as pd
import numpy as np

## Load the preprocessed data

In [2]:
preprocessed_df = pd.read_csv(r"C:\Users\User\Documents\SQL Python and Tableau Project\Data Source\For Machine Learning\preprocessed_Absenteeism_data.csv")
display(preprocessed_df)

,Reasons_Disease,Reasons_Pregnancy,Reasons_Extrenous,Reasons_Soft,Date,Month_Value,Weekday,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,2015-07-07,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,2015-07-14,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,2015-07-15,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,2015-07-16,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,2015-07-23,7,3,289,36,33,239.554,30,0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,2018-05-23,5,2,179,22,40,237.656,22,1,2,0,8
696,1,0,0,0,2018-05-23,5,2,225,26,28,237.656,24,0,1,2,3
697,1,0,0,0,2018-05-24,5,3,330,16,28,237.656,25,1,0,0,8
698,0,0,0,1,2018-05-24,5,3,235,16,32,237.656,25,1,0,0,2
699,0,0,0,1,2018-05-31,5,3,291,31,40,237.656,25,0,1,1,2

We are not going to use the "Date" column. Its effect has been captured by "Month_Value" and "Weekday"

In [3]:
preprocessed_df = preprocessed_df.drop(["Date"], axis = 1)

We are going to create a new column which will capture the targets. We are being a little bit simple. If absenteeism is greater then the median values in the column "Absenteeism Time in Hours" then we will create a target value of 1 other wise it will be 0.

In [4]:
median_value = preprocessed_df["Absenteeism Time in Hours"].median()
targets = np.where(preprocessed_df["Absenteeism Time in Hours"] > median_value, 1, 0)
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

Next we attach the Targets to the data set and drop the "Absenteeism Time in Hours" from the data frame

In [5]:
preprocessed_df["Excessive_Absenteeism"] = targets
preprocessed_df = preprocessed_df.drop( ["Absenteeism Time in Hours"], axis = 1 )

Checking that our changes have been implemented

In [6]:
display(preprocessed_df)

,Reasons_Disease,Reasons_Pregnancy,Reasons_Extrenous,Reasons_Soft,Month_Value,Weekday,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Excessive_Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,2,179,22,40,237.656,22,1,2,0,1
696,1,0,0,0,5,2,225,26,28,237.656,24,0,1,2,0
697,1,0,0,0,5,3,330,16,28,237.656,25,1,0,0,1
698,0,0,0,1,5,3,235,16,32,237.656,25,1,0,0,0
699,0,0,0,1,5,3,291,31,40,237.656,25,0,1,1,0

Since the models work better if data is balanced, lets check the distribution of "Excessive_Absenteeism".

In [7]:
import seaborn as sns
sns.set(style="darkgrid")
ax = sns.countplot( x = "Excessive_Absenteeism", data = preprocessed_df )
ax

The data seems balanced for targets.
Let us create a checkpoint again.

In [8]:
df_with_targets = preprocessed_df.copy()
df_with_targets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 15 columns):
Reasons_Disease            700 non-null int64
Reasons_Pregnancy          700 non-null int64
Reasons_Extrenous          700 non-null int64
Reasons_Soft               700 non-null int64
Month_Value                700 non-null int64
Weekday                    700 non-null int64
Transportation Expense     700 non-null int64
Distance to Work           700 non-null int64
Age                        700 non-null int64
Daily Work Load Average    700 non-null float64
Body Mass Index            700 non-null int64
Education                  700 non-null int64
Children                   700 non-null int64
Pets                       700 non-null int64
Excessive_Absenteeism      700 non-null int32
dtypes: float64(1), int32(1), int64(13)
memory usage: 79.4 KB

## Selecting the inputs for the model

In [9]:
unscaled_inputs = df_with_targets.iloc[:, :-1]
unscaled_inputs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 14 columns):
Reasons_Disease            700 non-null int64
Reasons_Pregnancy          700 non-null int64
Reasons_Extrenous          700 non-null int64
Reasons_Soft               700 non-null int64
Month_Value                700 non-null int64
Weekday                    700 non-null int64
Transportation Expense     700 non-null int64
Distance to Work           700 non-null int64
Age                        700 non-null int64
Daily Work Load Average    700 non-null float64
Body Mass Index            700 non-null int64
Education                  700 non-null int64
Children                   700 non-null int64
Pets                       700 non-null int64
dtypes: float64(1), int64(13)
memory usage: 76.7 KB

## Standardizing the values

In [10]:
from sklearn.preprocessing import StandardScaler
absenteeism_scaler = StandardScaler()
absenteeism_scaler.fit(unscaled_inputs)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [11]:
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)
scaled_inputs

array([[-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
         0.88046927,  0.26848661],
       [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
        -0.01928035, -0.58968976],
       [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
        -0.91902997, -0.58968976],
       ...,
       [ 1.73205081, -0.09298136, -0.31448545, ...,  2.23224237,
        -0.91902997, -0.58968976],
       [-0.57735027, -0.09298136, -0.31448545, ...,  2.23224237,
        -0.91902997, -0.58968976],
       [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
        -0.01928035,  0.26848661]])

Checking the shape of the data

In [12]:
print(scaled_inputs.shape, type(scaled_inputs))

(700, 14) <class 'numpy.ndarray'>

## Splitting the dataset

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, Y_train, Y_test = train_test_split(scaled_inputs, targets,
                                                   train_size = .75,
                                                   random_state = 30)

Seeing the shapes

In [14]:
print(x_train.shape, Y_train.shape)

(525, 14) (525,)

In [15]:
print(x_test.shape, Y_test.shape)

(175, 14) (175,)

## Logistic Regression using sklearn

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

Train the model

In [17]:
reg = LogisticRegression()
reg.fit(x_train, Y_train)

C:\Users\User\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

Checking the accuracy of the model manually - that is compare the predictions of the model to Y_train values

In [18]:
model_outputs = reg.predict(x_train)
model_outputs

array([1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0])

In [19]:
matched_outputs = np.sum(model_outputs == Y_train)
matched_outputs

401

In [20]:
accuracy = matched_outputs / model_outputs.shape[0]
accuracy

0.7638095238095238

Checking the accuracy using sklearn method

In [21]:
reg.score(x_train, Y_train)

0.7638095238095238

They are exactly the same.

## Extracting the intercepts and coefficients for Tableau calculations

In [22]:
reg.coef_

array([[ 2.00823351,  0.27528002,  1.63058299,  1.39912436,  0.04383785,
        -0.19237852,  0.72332126,  0.00515861, -0.22999804,  0.01082204,
         0.288388  ,  0.01214291,  0.44674891, -0.46209846]])

We need to produce a user friendly output from the coefficients. We need to know the columns for which these coefficients values belong to.

In [23]:
feature_names = unscaled_inputs.columns.values
summary_table = pd.DataFrame(columns = ["Variable Name"],
                             data = feature_names)
summary_table["Coefficient"] = np.transpose(reg.coef_)
summary_table

              Variable Name  Coefficient
0           Reasons_Disease     2.008234
1         Reasons_Pregnancy     0.275280
2         Reasons_Extrenous     1.630583
3              Reasons_Soft     1.399124
4               Month_Value     0.043838
5                   Weekday    -0.192379
6    Transportation Expense     0.723321
7          Distance to Work     0.005159
8                       Age    -0.229998
9   Daily Work Load Average     0.010822
10          Body Mass Index     0.288388
11                Education     0.012143
12                 Children     0.446749
13                     Pets    -0.462098

We are still missing the intercept

In [24]:
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ["Intercept", reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

              Variable Name  Coefficient
0                 Intercept    -0.143304
1           Reasons_Disease     2.008234
2         Reasons_Pregnancy     0.275280
3         Reasons_Extrenous     1.630583
4              Reasons_Soft     1.399124
5               Month_Value     0.043838
6                   Weekday    -0.192379
7    Transportation Expense     0.723321
8          Distance to Work     0.005159
9                       Age    -0.229998
10  Daily Work Load Average     0.010822
11          Body Mass Index     0.288388
12                Education     0.012143
13                 Children     0.446749
14                     Pets    -0.462098

## Interpreting the coefficients

* Since the model has been standardized and scaled, it makes sense to interpret the weights. If the weight is close the zero, the impact of that feature will be close to zero.
* Also it make sense of the weights because the variables have been scaled. We are working of standardized coefficients.
* Which ever weight has a higher or smaller value, the corresponding scales variable will have an impact.
* The coefficients that we have developed are log(odds). To convert to odds, we need to convert coefficients to exponential values.

In [25]:
summary_table["Odds Ratio"] = np.exp(summary_table["Coefficient"])
summary_table

              Variable Name  Coefficient  Odds Ratio
0                 Intercept    -0.143304    0.866491
1           Reasons_Disease     2.008234    7.450145
2         Reasons_Pregnancy     0.275280    1.316899
3         Reasons_Extrenous     1.630583    5.106851
4              Reasons_Soft     1.399124    4.051651
5               Month_Value     0.043838    1.044813
6                   Weekday    -0.192379    0.824995
7    Transportation Expense     0.723321    2.061268
8          Distance to Work     0.005159    1.005172
9                       Age    -0.229998    0.794535
10  Daily Work Load Average     0.010822    1.010881
11          Body Mass Index     0.288388    1.334275
12                Education     0.012143    1.012217
13                 Children     0.446749    1.563222
14                     Pets    -0.462098    0.629960

Sorting the table based on "Odds Ratio" column

In [26]:
summary_table = summary_table.sort_values("Odds Ratio", ascending = False)
summary_table

              Variable Name  Coefficient  Odds Ratio
1           Reasons_Disease     2.008234    7.450145
3         Reasons_Extrenous     1.630583    5.106851
4              Reasons_Soft     1.399124    4.051651
7    Transportation Expense     0.723321    2.061268
13                 Children     0.446749    1.563222
11          Body Mass Index     0.288388    1.334275
2         Reasons_Pregnancy     0.275280    1.316899
5               Month_Value     0.043838    1.044813
12                Education     0.012143    1.012217
10  Daily Work Load Average     0.010822    1.010881
8          Distance to Work     0.005159    1.005172
0                 Intercept    -0.143304    0.866491
6                   Weekday    -0.192379    0.824995
9                       Age    -0.229998    0.794535
14                     Pets    -0.462098    0.629960

For a unit change in the standardized feature, the odds increase by a multiple equal to odds ratio ( 1 = no change ). This means that features like "Distance to Work", "Daily Work Load Average", "Education" and "Month_Value" will have little impact on deciding the output of the target variable.

## Problems with this model and their solutions

First immediate problem in this model is the problem that we have included "dummy" attributes in the scaling exercise. This is a problem because, since these columns have been scaled, we cannot decide about the importance.

Solution to the problem

In [27]:
from sklearn.base import BaseEstimator, TransformerMixin

In [28]:
class CustomScaler (BaseEstimator, TransformerMixin):
    def __init__ (self, columns, copy = True, with_mean = True, with_std = True):
        self.scaler = StandardScaler(copy, with_mean, with_std)
        self.columns = columns
        self.mean_ = None
        self.var_ = None
        
    def fit(self, X, y = None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.mean(X[self.columns])
        return self
    
    def transform(self, X, y = None, copy = None):
        init_col_order = X.columns
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns = self.columns)
        X_not_scaled = X.loc[:, ~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled, X_scaled], axis = 1)[init_col_order]

Seperate the "dummy" columns - create a list of columns that require scaling

In [29]:
columns_to_scale = ["Transportation Expense", "Children", "Month_Value", "Education", "Daily Work Load Average",
                    "Distance to Work", "Weekday", "Age", "Pets"]

Running the new CustomScaler

In [30]:
absenteeism_scaler = CustomScaler(columns_to_scale)
absenteeism_scaler.fit(unscaled_inputs)

CustomScaler(columns=['Transportation Expense', 'Children', 'Month_Value',
                      'Education', 'Daily Work Load Average',
                      'Distance to Work', 'Weekday', 'Age', 'Pets'],
             copy=None, with_mean=None, with_std=None)

Storing the scaled inputs

In [31]:
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)
scaled_inputs

,Reasons_Disease,Reasons_Pregnancy,Reasons_Extrenous,Reasons_Soft,Month_Value,Weekday,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,0,0,0,1,0.182726,-0.683704,1.005844,0.412816,-0.536062,-0.806331,30,-0.447980,0.880469,0.268487
1,0,0,0,0,0.182726,-0.683704,-1.574681,-1.141882,2.130803,-0.806331,31,-0.447980,-0.019280,-0.589690
2,0,0,0,1,0.182726,-0.007725,-0.654143,1.426749,0.248310,-0.806331,31,-0.447980,-0.919030,-0.589690
3,1,0,0,0,0.182726,0.668253,0.854936,-1.682647,0.405184,-0.806331,24,-0.447980,0.880469,-0.589690
4,0,0,0,1,0.182726,0.668253,1.005844,0.412816,-0.536062,-0.806331,30,-0.447980,0.880469,0.268487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,-0.388293,-0.007725,-0.654143,-0.533522,0.562059,-0.853789,22,2.232242,0.880469,-0.589690
696,1,0,0,0,-0.388293,-0.007725,0.040034,-0.263140,-1.320435,-0.853789,24,-0.447980,-0.019280,1.126663
697,1,0,0,0,-0.388293,0.668253,1.624567,-0.939096,-1.320435,-0.853789,25,2.232242,-0.919030,-0.589690
698,0,0,0,1,-0.388293,0.668253,0.190942,-0.939096,-0.692937,-0.853789,25,2.232242,-0.919030,-0.589690
699,0,0,0,1,-0.388293,0.668253,1.036026,0.074838,0.562059,-0.853789,25,-0.447980,-0.019280,0.268487

## Splitting the data set, Running the Logistic Regression and Checking the accuracy of model - again

In [32]:
x_train, x_test, Y_train, Y_test = train_test_split(scaled_inputs, targets,
                                                   train_size = .75,
                                                   random_state = 30)
reg = LogisticRegression(solver = "lbfgs")
reg.fit(x_train, Y_train)
reg.score(x_train, Y_train)

0.7542857142857143

The accuracy is lowered only slightly, but we can better understand and utilize the model.

## Creating the summary table for coefficients and intercepts - again

In [33]:
feature_names = unscaled_inputs.columns.values
summary_table = pd.DataFrame(columns = ["Variable Name"],
                             data = feature_names)
summary_table["Coefficient"] = np.transpose(reg.coef_)
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ["Intercept", reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

              Variable Name  Coefficient
0                 Intercept    -3.226695
1           Reasons_Disease     2.671715
2         Reasons_Pregnancy     0.553424
3         Reasons_Extrenous     3.272854
4              Reasons_Soft     1.000793
5               Month_Value     0.020662
6                   Weekday    -0.193328
7    Transportation Expense     0.617763
8          Distance to Work     0.037544
9                       Age    -0.188058
10  Daily Work Load Average     0.011804
11          Body Mass Index     0.057707
12                Education     0.039294
13                 Children     0.424548
14                     Pets    -0.380636

Adding the Odds Ratios

In [34]:
summary_table["Odds Ratio"] = np.exp(summary_table["Coefficient"])
summary_table = summary_table.sort_values("Odds Ratio", ascending = False)
summary_table

              Variable Name  Coefficient  Odds Ratio
3         Reasons_Extrenous     3.272854   26.386552
1           Reasons_Disease     2.671715   14.464753
4              Reasons_Soft     1.000793    2.720440
7    Transportation Expense     0.617763    1.854773
2         Reasons_Pregnancy     0.553424    1.739197
13                 Children     0.424548    1.528899
11          Body Mass Index     0.057707    1.059405
12                Education     0.039294    1.040077
8          Distance to Work     0.037544    1.038257
5               Month_Value     0.020662    1.020877
10  Daily Work Load Average     0.011804    1.011874
9                       Age    -0.188058    0.828567
6                   Weekday    -0.193328    0.824212
14                     Pets    -0.380636    0.683426
0                 Intercept    -3.226695    0.039688

Let us discuss the coefficients again. The more the coefficient is away from 0 - in any direction - the more pronounced is its effect on the model. The extrenous reasons have a more pronounced effect - a person has roughly 26% more chances of being absent because of reason beyond the control of the employee as compared to being absent for no reason.

Note that top 6 reasons include all those reasons for which we created dummy variables. Some of them are pretty strong reasons, for example Children are a very strong reason for an employee to be absent. However, note that this variable has been standardized. This means that for every standardized increase in number of children, odds of being absent increase by roughly 2%.

Let us also discuss a variable with negative coefficient. For example, an increase of one standardized unit in pets decreases the odds of being absent by roughly 30% (1-.68). One reason could be that the person who has pets may have additional support.

## Backward elimination

Note that some of the features have very little impact on the model due to their weights. It would make business sense to remove them.

We are going to remove columns like "Body Mass Index", "Education", "Distance to Work", "Month_Value" and "Daily Work Load Average" columns from future analysis as their weights are close to 1.

We are going to use previous checkpoint data set df_with_targets.

In [35]:
df_with_targets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 15 columns):
Reasons_Disease            700 non-null int64
Reasons_Pregnancy          700 non-null int64
Reasons_Extrenous          700 non-null int64
Reasons_Soft               700 non-null int64
Month_Value                700 non-null int64
Weekday                    700 non-null int64
Transportation Expense     700 non-null int64
Distance to Work           700 non-null int64
Age                        700 non-null int64
Daily Work Load Average    700 non-null float64
Body Mass Index            700 non-null int64
Education                  700 non-null int64
Children                   700 non-null int64
Pets                       700 non-null int64
Excessive_Absenteeism      700 non-null int32
dtypes: float64(1), int32(1), int64(13)
memory usage: 79.4 KB

In [36]:
columns_to_drop = [ "Body Mass Index", "Education", "Distance to Work", "Month_Value", "Daily Work Load Average"]
df_with_targets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 15 columns):
Reasons_Disease            700 non-null int64
Reasons_Pregnancy          700 non-null int64
Reasons_Extrenous          700 non-null int64
Reasons_Soft               700 non-null int64
Month_Value                700 non-null int64
Weekday                    700 non-null int64
Transportation Expense     700 non-null int64
Distance to Work           700 non-null int64
Age                        700 non-null int64
Daily Work Load Average    700 non-null float64
Body Mass Index            700 non-null int64
Education                  700 non-null int64
Children                   700 non-null int64
Pets                       700 non-null int64
Excessive_Absenteeism      700 non-null int32
dtypes: float64(1), int32(1), int64(13)
memory usage: 79.4 KB

df_with_targets does not have the columns any more. Next we are doing scaling of continuous variables.

In [37]:
columns_to_scale = ["Transportation Expense", "Children", "Weekday", "Age", "Pets"]
absenteeism_scaler = CustomScaler(columns_to_scale)
absenteeism_scaler.fit(unscaled_inputs)

CustomScaler(columns=['Transportation Expense', 'Children', 'Weekday', 'Age',
                      'Pets'],
             copy=None, with_mean=None, with_std=None)

Storing the scaled variables

In [38]:
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)
scaled_inputs = scaled_inputs.drop(columns_to_drop, axis = 1)
scaled_inputs

,Reasons_Disease,Reasons_Pregnancy,Reasons_Extrenous,Reasons_Soft,Weekday,Transportation Expense,Age,Children,Pets
0,0,0,0,1,-0.683704,1.005844,-0.536062,0.880469,0.268487
1,0,0,0,0,-0.683704,-1.574681,2.130803,-0.019280,-0.589690
2,0,0,0,1,-0.007725,-0.654143,0.248310,-0.919030,-0.589690
3,1,0,0,0,0.668253,0.854936,0.405184,0.880469,-0.589690
4,0,0,0,1,0.668253,1.005844,-0.536062,0.880469,0.268487
...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,-0.007725,-0.654143,0.562059,0.880469,-0.589690
696,1,0,0,0,-0.007725,0.040034,-1.320435,-0.019280,1.126663
697,1,0,0,0,0.668253,1.624567,-1.320435,-0.919030,-0.589690
698,0,0,0,1,0.668253,0.190942,-0.692937,-0.919030,-0.589690
699,0,0,0,1,0.668253,1.036026,0.562059,-0.019280,0.268487

## Splitting the data set with reduced number of columns, Running the Logistic Regression and Checking the accuracy of model

In [39]:

x_train, x_test, Y_train, Y_test = train_test_split(scaled_inputs, targets,
                                                   train_size = .75,
                                                   random_state = 30)
reg = LogisticRegression(solver = "lbfgs")
reg.fit(x_train, Y_train)
reg.score(x_train, Y_train)

0.7504761904761905

Note that the accuracy of the model has not dropped significantly

## Creating the summary table for coefficients and intercepts for the new model

In [40]:
feature_names = scaled_inputs.columns.values
summary_table = pd.DataFrame(columns = ["Variable Name"],
                             data = feature_names)
summary_table["Coefficient"] = np.transpose(reg.coef_)
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ["Intercept", reg.intercept_[0]]
summary_table["Odds Ratio"] = np.exp(summary_table["Coefficient"])
summary_table = summary_table.sort_values("Odds Ratio", ascending = False)
summary_table

            Variable Name  Coefficient  Odds Ratio
3       Reasons_Extrenous     3.214313   24.886192
1         Reasons_Disease     2.639119   14.000870
4            Reasons_Soft     1.017785    2.767060
6  Transportation Expense     0.635077    1.887167
2       Reasons_Pregnancy     0.499302    1.647570
8                Children     0.364925    1.440406
7                     Age    -0.066720    0.935457
5                 Weekday    -0.204880    0.814745
9                    Pets    -0.362776    0.695742
0               Intercept    -1.675388    0.187236

## Testing the model

In [41]:
reg.score(x_test, Y_test)

0.8114285714285714

Accuracy of the model has improved. There could be several reasons for that, however, we are sure that model is not over fitting the data.

## Saving the model

We need to save the model so that we can use the model when we are in Tableau.

In [42]:
import pickle

with open("model", "wb") as file:
    pickle.dump(reg, file)

We also need to save the Scaler that we created.

In [43]:
with open("scaler", "wb") as file:
    pickle.dump(absenteeism_scaler, file)

## Conclusion

We are now ready to move onto next stage. In the next stage, we will be creating a module to capture this model. The module will allow me to use the model in Tableau.